
#helper_response_container
{
    display: inline-block;
    width: 100%;
    min-height: 40px;
}

#messages
{
list-style:none;
padding:0px

}

#input
{
width:70%;
display:block;
float:left;
vertical-align: top;
height:40px;
 resize: none;
 padding:5px;

box-sizing: border-box;
}

#send
{
width:28%;
display:block;
float:right;vertical-align: top;
height:40px;
box-sizing: border-box;
}

#message_container
{
display:block;
margin-left:auto;
margin-right:auto;
margin-top:10px;
width:80%;
border-width:2px;
border-style:solid;
height: 600px;
overflow: auto;
padding: 10px;
}

#messages li
{
width:100%;
display: inline-block;
}

.sent_message
{
padding:5px 10px;
float:left;
border-radius:15px;
background-color:green;
color:white;
}

.received_message
{
padding:5px 10px;
float:right;
border-radius:15px;
background-color:blue;
color:white;
}
#input_container
{
width:90%;
margin-top:10px;
display:block;
margin-left: auto;
margin-right: auto;
}
