
#info_container
{
    margin-top:10px;
    min-height:300px;
    width:100%;
    border: black solid 1px;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.camera_feed
{
    width:30%;
    display:inline-block;
    box-sizing: border-box;
}