#objects_container
{
    width: 40%;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#objects_pane {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

.detected_object
{
    display:inline-block;
    min-width:49%;
    box-sizing: border-box;
    border: solid black 1px;
    position:relative;
    margin-bottom: 2px;
    font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
    border:solid #4fc08d thin;
    padding:5px;
}

.object_name
{
    width:100%;
    display:inline-block;
    font-weight:bold;
}

.object_concept
{   
    position: absolute;
    top:0px;
    right:5px;
    display:inline-block;
} 

.object_property
{
    width:100%;
}

.object_property_value
{
    display:inline-block;
}