#convo_container
{
width:40%;
display:inline-block;
min-height:600px;
float:right;
vertical-align: top;
}

#panes_container
{
    width:58%;
    display:inline-block;
    min-height:250px;
    float:left;
    vertical-align: top;
}


#top_bar
{
    width:100%;
    display:block;
    min-height:40px;
   
    background-color: #4fc08d;
}

#overview_pane,#info_pane
{
    width:100%;
    box-sizing: border-box;
}

